<h1>Angular HomeWork</h1>
<h2>Anton Kazakov</h2>
<hr>

<div class="popup-wrapper" [style.display]="popupDisplay">
  <div class="popup">
    <div class="popup-header">
      Удаление
    </div>
    <div class="popup-message">
      Вы действительно хотите удалить?
    </div>
    <div class="popup-buttons">
      <button class="deleteButton" (click)="deleteStudent()">Удалить</button>
      <button class="cancelButton" (click)="showPopup(-1)">Отмена</button>
    </div>
  </div>
</div>

<div class="container">
  <table>
    <thead>
      <tr class="actions">
        <td>
          <div class="rateCheckbox">
            Показать студентов с низкой успеваемостью:
            <input type="checkbox" [(ngModel)]="isShowBadRate">
          </div>
        </td>

        <td>
          <div class="rateSelect">
            <select #selectRate (change)="filterStudents('averageRate', selectRate.value)">
              <option hidden [selected]="isResetRate"> Успеваемость </option>
              <option value="0">Выше 0</option>
              <option value="2">Выше 2</option>
              <option value="3">Выше 3</option>
              <option value="4">Выше 4</option>
            </select>
            <button (click)="resetStudents()">Сброс</button>
          </div>
        </td>
        <td>
          <div class="birthdaySelect">
            <select #selectBirthday (change)="filterStudents('birthday', selectBirthday.value)">
              <option hidden [selected]="isResetBirthday"> Год рождения </option>
              <option value="1997">1997</option>
              <option value="1998">1998</option>
              <option value="1999">1999</option>
              <option value="2000">2000</option>
            </select>
            <button (click)="resetStudents()">Сброс</button>
          </div>
        </td>
        <td colspan="3">
          <div class="search">Поиск(имя или фамилия)
            <input type="text" [(ngModel)]="nameForSearch">
          </div>
        </td>

      </tr>
      <tr class="columnNames">
        <td (click)="sortElement('surName')">Фамилия</td>
        <td (click)="sortElement('name')" >Имя</td>
        <td (click)="sortElement('middleName')" >Отчество</td>
        <td (click)="sortElement('birthday')" >Дата рождения</td>
        <td (click)="sortElement('averageRate')"> Средний балл </td>
        <td>Действие</td>
      </tr>
    </thead>
    <tbody>
      <tr [style.color]="checkRate(student.averageRate)"
          [style.color]="find(student.name, student.surName)"
          *ngFor="let student of filteredStudents; let i = index">
        <td>{{ student.surName }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.middleName }}</td>
        <td>{{ student.birthday }}</td>
        <td>{{ student.averageRate }}</td>
        <td>
          <button class="deleteButton" (click)="showPopup(i)">Удалить</button>
          <!--      <input type="button" (click)="filteredStudents.splice(i,1)">-->
        </td>
      </tr>
    </tbody>
  </table>
</div>

