/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

button {
  padding: 10px;
  border-radius: 4px;
  outline: none;
  background: CornflowerBlue;
  color: FloralWhite;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 700;
}
.cancelButton {
  border: SteelBlue solid 2px;
  background: FloralWhite;
  color: black;
}
