/* You can add global styles to this file, and also import other style files */
* {
  font-family: sans-serif;
}

button {
  border-radius: 4px;
  height: 3em;
  width: 6rem;
  outline: none;
  background: CornflowerBlue;
  color: FloralWhite;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 700;
}
.cancelButton {
  border: SteelBlue solid 2px;
  background: FloralWhite;
  color: black;
}
