.container {
  padding: 20px 0;
  margin: 0 auto;
  max-width: 95%;
}
.popup {
  padding-bottom: 15px;
  top: 10%;
  left: 50%;
  margin-left:-200px;
  position: fixed;
  height: 200px;
  width: 400px;
  border-radius: 4px;
  box-shadow: -10px 10px 10px rgba(0,0,0,0.2);
  background: whitesmoke;
  z-index:1;
}
.popup-header {
  height: 1em;
  font-size: 20px;
  font-weight: 700;
  color: FloralWhite;
  text-transform: uppercase;
  border-radius: 4px 4px 0 0;
  padding: 20px 0;
  background: steelblue;
  text-align: center;
}
.popup-message {
  padding: 20px;
  height: 4em;
  font-size: 15px;
}
.popup-buttons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.popup-buttons button {
  margin-left: 10px;
  border-radius: 4px;
  outline: none;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.popup-wrapper {
  display: none;
  left: 0;
  top: 0;
  position:fixed;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  z-index:100;
}


table {
  width: 98%;
  margin: 0 auto;
  cellspacing: 10px;
  border-spacing: 0;
  border-radius: 2px;
  border: LightGrey solid;
}

tr {
  text-align: center;
  font-size: 14px;
  height: 3em;
  background: white;
}
tr:nth-child(2n+1){
  background: WhiteSmoke;
}

thead tr.actions {
  text-align: center;
  font-size: 9px;
  font-weight: 500;
  height: 6em;
}

thead tr {
  text-transform: uppercase;
  font-weight: 800;
  background: SteelBlue;
  font-size: 16px;
  height: 3em;
  color: FloralWhite;
}

select {
  border-radius: 5px;
  border: whitesmoke 1px solid;
}

input {
  border-radius: 5px;
  border: whitesmoke 1px solid;
}

button.resetButton {
  background: CornflowerBlue;
  color: floralwhite;
}
button.editButton {
  margin-left: 15px;
  font-size: 11px;
  color: black;
  background:rgba(0,0,0,0);
  border: cornflowerblue 2px solid;
}
button.deleteButton {
  font-size: 11px;
}

button.cancelButton {
  border: SteelBlue solid 2px;
  background: FloralWhite;
  color: black;
}
button.addButton {
  font-size: 12px;
  font-weight: 900;
  margin-left: 5%;
  margin-bottom: 10px;
  color: black;
  background:rgba(0,0,0,0);
  border: cornflowerblue 3px solid;
}
.marker {
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 30px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0);
}

.buttonsForSelect {
  margin-top: 10px;
  margin-left: 11px;
  display: flex;
  justify-content: flex-start;
}
.buttonsForSelect button {
  padding: 10px;
  margin-left: 15px;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
}

.cancelSelect {
  border: SteelBlue solid 2px;
  background: FloralWhite;
  color: black;
}
